@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mix;

.page-header {
    padding: 35px 0 20px;

    background-color: var.$color-accented-bg;

    @media (min-width: var.$tablet-width) {
        padding: 20px 0 30px;
    }

    @media (min-width: var.$desktop-width) {
        padding: 15px 0 25px;
    }
}

.page-header::after {
    @media (min-width: var.$tablet-width) {
        content: "";

        position: absolute;
        inset: 0;

        width: 50%;
        height: 100%;

        background-color: rgba(24, 36, 48, 0.5);
    }
}
